{% load static %}
<head>
  <script src="https://cdn.jsdelivr.net/npm/@panzoom/panzoom@latest/dist/panzoom.min.js"></script>
</head>

<section class="about-one-section style-two">
  <div class="auto-container" style="padding: 50px;">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="about-one-wrapper-two text-center">
          <div class="about-one-image-five">
            <div
              class="wow fadeInUp"
              data-wow-delay="500ms"
              data-wow-duration="1500ms"
            >
              <img
                src="{% static 'assets/images/components/logo-circle.png' %}"
                alt=""
                class="half-opacity"
              />
            </div>
          </div>
          <h2
            class="about-one-title wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="font-family: 'Candide Regular'"
          >
            Welcome to Lido Shores Resort
          </h2>
          <h4
            class="about-one-title-two wow fadeInUp"
            data-wow-delay="300ms"
            data-wow-duration="1500ms"
            style="font-family: 'Candide Regular'"
          >
            "Revel in Seaside Sophistication"
          </h4>
          <div
          class="about-one-text mb-50 wow fadeInUp"
          data-wow-delay="500ms"
          data-wow-duration="1500ms"
        >
          {{ description_content|safe }}
        </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
