{% load static %}
<!-- Banner Section -->
<section class="banner-section">
    <div class="swiper-container banner-slider">
        <div class="swiper-wrapper">
            <!-- Slide Item -->
            <div class="swiper-slide" style="background-image: url({% static 'assets/images/gallery/lidofront.jpg' %});">
                <div class="content-outer">
                    <div class="content-box text-center justify-content-center">
                        <div class="inner">
                            <h6 class="main-slider-sub-title" style="color: black;">Immerse Yourself in the Wonder of</h6>
                            <h1 class="main-slider-title" style="color: black; text-transform: uppercase;">Lido Shores Resort</h1>
                            <div class="main-slider-text" style="color: black;">Savor refined relaxation</div>
                            <div class="link-box">
                                <a href="about.html" class="btn-one">Discover More <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide ad1-slide" style="background-image: url({% static 'assets/images/gallery/ad1.jpg' %});">
                <div class="content-outer">
                    <div class="content-box text-center justify-content-center">
                        <!-- Add any additional content here -->
                    </div>
                </div>
            </div>
            <div class="swiper-slide ad1-slide" style="background-image: url({% static 'assets/images/gallery/ad2.jpg' %});">
                <div class="content-outer">
                    <div class="content-box text-center justify-content-center">
                        <!-- Add any additional content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-slider-nav style-one">
        <div class="banner-slider-control banner-slider-button-prev"><span><i class="fal fa-angle-right"></i></span></div>
        <div class="banner-slider-control banner-slider-button-next"><span><i class="fal fa-angle-right"></i></span></div>
    </div>
</section>
<!-- End Banner Section -->