{% load static %}
<header class="main-header header-style-one">
    <!-- Header Upper -->
    <div class="header-upper">
        <div class="auto-container" style="max-width: 1500px;">
            <div class="inner-container upper">
                <!-- Logo -->
                <div class="logo-box">
                    <div class="logo">
                        <a href="{% url 'admin_dashboard' %}"><img src="{% static 'assets/images/components/adminfulllogo.png' %}" alt=""></a>
                    </div>
                </div>
                <!-- Right Column -->
                <div class="right-column">
                    <div class="navbar-right">
                        <div class="link-btn">
                            <a href="javascript:void(0)" class="btn-one" style="background: none; color: var(--txtprimary); font-size: 20px; border: none;">
                                <i class="ri-search-2-line"></i><span></span>
                            </a>
                        </div>
                        <div class="link-btn">
                            <a href="{% url 'lidoaboutus' %}" class="btn-one" style="background: none; color: var(--txtprimary); font-size: 20px; border: none;">
                                <i class="ri-chat-4-line"></i><span></span>
                            </a>
                        </div>
                        <div class="link-btn">
                            <a href="{% url 'lidobooking' %}" target="_blank" class="btn-one">Book Now + <span></span></a>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Header Main Menu -->
    <div class="header-main-menu">
        <div class="auto-container" style="max-width: 1500px;">
            <div class="nav-outer">
                <!-- Mobile Navigation Toggler -->
                <div class="mobile-nav-toggler">
                    <img src="{% static 'assets/images/icons/icon-bar.png' %}" alt="">
                </div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                        <ul class="navigation">
                            {% if request.session.admin_id %}
                            <li class="dropdown"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                            {% comment %} <li class="dropdown"><a href="{% url 'lidoroomrates' %}">Rooms</a>
                                <ul>
                                    <li><a href="room-1.html">Room 01</a></li>
                                    <li><a href="room-2.html">Room 02</a></li>
                                    <li><a href="room-3.html">Room Grid Style</a></li>
                                    <li><a href="room-4.html">Room List Style</a></li>
                                    <li><a href="room-details.html">Room Details</a></li>
                                    <li><a href="room-details-2.html">Room Details 02</a></li>
                                </ul>
                            </li> {% endcomment %}
                            <li class="dropdown"><a href="{% url 'admininventory' %}">Inventory</a></li>
                            {% comment %} <li><a href="{% url 'lidocafe' %}">Cafe</a></li>
                            <li><a href="{% url 'lidoaboutus' %}">About Us</a></li> {% endcomment %}
                            <li class="dropdown"><a href="{% url 'guestlogout' %}" id="logoutBtn">Logout <span></span></a></li>
                            {% else %}
                            <!-- Login Button -->
                            <li class="dropdown"><a href="{% url 'guestlogin' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--End Header Main Menu-->

    <!-- Sticky Header -->
    <div class="sticky-header">
        <div class="header-upper">
            <div class="auto-container" style="max-width: 1500px;">
                <div class="inner-container upper">
                    <!-- Logo -->
                    <div class="logo-box">
                        <div class="logo">
                            <a href="{% url 'lidohome' %}"><img src="{% static 'assets/images/components/adminfulllogo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <!-- Right Column -->
                    <div class="right-column">
                        <div class="navbar-right">
                            <div class="link-btn">
                                <a href="contact.html" class="btn-one" style="background: none; color: var(--txtprimary); font-size: 20px; border: none;">
                                    <i class="ri-search-2-line"></i><span></span>
                                </a>
                            </div>
                            <div class="link-btn">
                                <a href="contact.html" class="btn-one" style="background: none; color: var(--txtprimary); font-size: 20px; border: none;">
                                    <i class="ri-chat-4-line"></i><span></span>
                                </a>
                            </div>

                            <div class="link-btn">
                                <a href="{% url 'lidobooking' %}" target="_blank" class="btn-one">Book Now + <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main-menu">
            <div class="auto-container" style="max-width: 1500px;">
                <div class="nav-outer">
                    <!-- Mobile Navigation Toggler -->
                    <div class="mobile-nav-toggler">
                        <img src="{% static 'assets/images/icons/icon-bar.png' %}" alt="">
                    </div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <!-- Menu will be inserted here by JS -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sticky Header -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="icon far fa-times"></i></div>
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="{% url 'lidohome' %}"><img src="{% static 'assets/images/components/logo.png' %}" alt="" title=""></a>
            </div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <!-- Social Links -->
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li>
                        <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=lidoshores.sariaya@gmail.com">
                            <span class="fa-brands fa-google"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->

    <div class="nav-overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div>
</header>

<style>
    /* General modal styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed position to ensure it stays in the same place */
        z-index: 1000; /* Sit on top of other elements */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: hidden; /* Disable scroll on modal */
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Modal Content */
    .modal-content {
        background-color: white; /* Make sure the modal content stands out */
        padding: 20px;
        text-align: center;
        width: 500px;
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add a slight shadow for better visibility */
    }

    /* Buttons inside the modal */
    .modal-content button {
        background-color: var(--bgsecondary);
        color: white;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }

    .modal-content button#modalLogoutCancel {
        background-color: #f44336;
    }

    .modal-content button:hover {
        opacity: 0.8;
    }
</style>
