{% extends 'base.html' %}
{% load static %}
{% block title %}Walk In Success! | Lido Shores Resort{% endblock title %}
{% block content %}

{% block mainnav %}{% endblock mainnav %}

{% include 'authentication/frontdesk/frontdesk_navbar.html' %}

<style>
    /* Style for confirmation page */
    .lidocompleted-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Adjust this height as needed */
    }

    .lidocompleted-container {
        max-width: 600px;
        width: 100%;
        background: var(--bgtertiary);
        padding: 30px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
        border-radius: 8px;
        text-align: center;
    }

    .success-message {
        text-align: center;
    }

    .message-box-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10px; /* Space between buttons */
    }
</style>

<div class="lidocompleted-wrapper">
    <div class="lidocompleted-container">
        <div class="success-message">
            <p>Your walk-in has been submitted!</p> 
            <p>Thank you and kindly save this walk-in ID!</p>
            <p>Your Walk-in ID: <strong id="walk-inID"></strong></p> <!-- Display the Walk-in ID -->
        </div>
        <div class="message-box-buttons">
            <a href="{% url 'frontdesk_dashboard' %}" class="btn-one">Go Back to Home <span></span></a>
            <a href="{% url 'walkin' %}" class="btn-one">Book Again? <span></span></a>
        </div>
    </div>
</div>

<script>
    // Get the walk-in ID from the URL parameters
    const urlParams = new URLSearchParams(window.location.search);
    const walkInID = urlParams.get('walk_in_ID');

    // Display the Walk-in ID on the page
    document.getElementById("walk-inID").textContent = walkInID || 'N/A';
</script>

{% endblock content %}
